/*background-image: url("background.png");*/
body{
  background-image: url("background.png");
  background-color: #FFFFFF;
  color: #000000;
  font-family: impact;
  font-size: 100%;
  text-align: center;
  padding-top: 4%;
  margin: 0;
  text-shadow: rgba(#000000, 0) 0px 0px 1px;
  padding-left: 5%;
  padding-right: 5%;
}
header{
  color: #000000;
  font-family: impact;
  font-size: 100px;
}
h3{
  font-size: 20px;
}
h2{
  font-size: 40px;
  text-align: center;
}
h4{
  font-size: 40px;
  text-align: center;
  margin-top: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #707070;
}
table, th, td {
    align-text: center;
    border: 1px solid black;
    font-family: impact;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
}
table{
  margin-left: 36%;
}
myDiv{
  text-align: center;


}
